#root {
  width: 100%;
  height: 100%;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fChc4AMP6lbBP.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfChc4AMP6lbBP.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/************************************************
************       BASE STYLES       ************
************************************************/

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.imagiro * {
  box-sizing: border-box;
  outline: 0 none;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
}
.imagiro *::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 12px;
  height: 6px;
  background: #f6f7f8;
  border-radius: 100px;
  overflow: hidden;
  border: 2px solid white;
}
.imagiro *::-webkit-scrollbar-thumb {
  background: rgba(75, 89, 102, 0.2);
  border-radius: 100px;
  border: 2px solid white;
}
.imagiro {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 2;
  background: white;
  color: #4b5966;
  width: 300px;
  height: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  text-align: left;
  position: relative;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  box-sizing: border-box;
  z-index: 10;
  a {
    text-decoration: none;
    color: #008cdd;
    cursor: pointer;
  }
  a span {
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease;
  }
  p {
    font-family: inherit;
    line-height: 1.6;
    letter-spacing: -0.2px;
    margin: 0 auto 10px;
  }
  .clear {
    clear: both;
  }
  .selectable {
    -webkit-user-select: all;
  }
  .unit-outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  .unit-inner {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  .background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
    z-index: 10;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 1px 40px rgba(0, 0, 0, 0.05);
    transition: transform 1s ease;
    transform-origin: center center;
  }
  .background:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(rgba(75, 89, 102, 0), rgba(75, 89, 102, 0.95));
    max-height: 60%;
  }
  .ticker {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    color: white;
    z-index: 10;
  }
  .ticker-item {
    letter-spacing: -0.2px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 30px;
    line-height: 1.05;
    padding: 20px 15px 38px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-shadow: 0 0 2px rgba(75, 89, 102, 0.4);
  }
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    z-index: 1000;
  }
  .header-container {
    height: 100%;
  }
  .header .name {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .header .name-interior {
    display: table-cell;
    vertical-align: middle;
  }
  .header .name p {
    width: 100%;
    margin: 0 auto;
    line-height: 1.2;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    padding: 0 30px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 150px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: 50%;
    margin: 0 0 0 -75px;
    padding: 0;
  }
  .expand-button {
    position: absolute;
    right: 0;
    width: 100%;
    cursor: pointer;
    font-size: 0;
    padding-top: 100vh;
    bottom: 0;
    color: white;
    z-index: 1000;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  .expand-button .chevrons {
    position: absolute;
    left: 50%;
    width: 80px;
    height: 80px;
    transform: scale(0.1);
    transform-origin: center center;
    bottom: -15px;
    margin-left: -45px;
  }
  .expand-button .chevrons:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 25px solid white;
    border-bottom: 25px solid white;
    animation: chevrons 4s linear infinite;
  }
  .expand-button .chevrons:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 25px solid white;
    border-bottom: 25px solid white;
    animation: chevrons 4s linear infinite -2s;
  }
  .collapse-button {
    display: block;
    background: #fafafa;
    box-shadow: 0 -1px 0px rgba(75, 89, 102, 0.05) inset;
    color: #4b5966;
    line-height: 1;
    width: 100%;
    text-align: center;
    letter-spacing: normal;
    text-transform: uppercase;
    cursor: pointer;
  }
  .collapse-button svg.mdi {
    line-height: 30px;
    font-size: 24px;
    padding: 0 5px;
    opacity: 0.8;
  }
  .content {
    font-size: 14px;
    line-height: 1;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: calc(100% - 30px);
    overflow: hidden;
  }
  .content-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 36px;
    font-size: 0;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
    white-space: nowrap;
  }
  .content-nav .tab {
    width: 25%;
    float: left;
    color: rgba(75, 89, 102, 0.6);
    padding: 0 5px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    line-height: 36px;
    letter-spacing: 0.2px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .content-nav .tab.about-tab {
    font-size: 19px;
  }
  .content-nav .tab.contact-tab {
    font-size: 19px;
  }
  .content-nav .tab.active {
    box-shadow: 0 2px 0 rgba(75, 89, 102, 0.8);
    color: #4b5966 !important;
  }
  .content-wrapper {
    position: absolute;
    top: 38px;
    left: 0;
    width: 100%;
    height: calc(100% - 38px);
    overflow: auto;
    display: none;
  }
  .content-wrapper.content-active {
    display: block;
  }
  .info {
    padding: 10px 10px 47px;
    overflow: hidden;
  }
  .info .info-block {
    display: block;
    color: inherit;
    position: relative;
    font-size: 14px;
    line-height: 17px;
    padding: 8px 10px 8px 45px;
    transition: all 0.3s ease;
  }
  .info .info-block svg.mdi {
    position: absolute;
    top: 8px;
    line-height: 1;
    left: 10px;
    font-size: inherit;
    line-height: 20px;
    width: 20px;
    opacity: 0.8;
    letter-spacing: 0.5px;
  }
  .info .info-block svg.guide.mdi {
    left: auto;
    right: 10px;
    top: 50%;
    margin-top: -10px;
    font-size: 17px;
    opacity: 0;
    transition: all 0.3s ease;
  }
  .info .info-block span.text {
    display: block;
    color: #008cdd;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .info .info-block span.text.strong {
    color: inherit;
    font-weight: 600;
  }
  .info .info-block span.text.weak {
    color: inherit;
    opacity: 0.6;
  }
  .info .social-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0;
    margin: 0;
    padding: 0 8px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
  }
  .info .social-buttons a {
    display: inline-block;
    color: rgba(132, 146, 166, 0.6);
    width: 36px;
    margin-right: 2px;
    text-align: center;
  }
  .info .social-buttons a svg {
    font-size: 20px;
    line-height: 42px;
    border: 0 none;
  }
  .contact {
    padding: 10px 15px;
    overflow: hidden;
  }
  .contact .input {
    margin: 0 0 10px;
  }
  .contact .input:nth-child(1) {
    float: left;
    width: calc(50% - 30px);
    margin-right: 10px;
  }
  .contact .input:nth-child(2) {
    float: left;
    width: calc(50% + 20px);
  }
  .contact .input input,
  .contact .input textarea {
    -webkit-appearance: none;
    border: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 12px;
    line-height: 1;
    color: rgba(75, 89, 102, 0.9);
    padding: 7px;
    width: 100%;
  }
  .contact .input textarea {
    resize: none;
    height: 78px;
    line-height: 1.5;
    padding: 7px;
  }
  .contact .submit input {
    -webkit-appearance: none;
    width: 100%;
    border: 0 none;
    background: #60a0e7;
    text-transform: uppercase;
    padding: 10px 20px;
    color: white;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.12) inset, 0 0 2px rgba(0, 0, 0, 0.08),
      0 4px 6px rgba(0, 0, 0, 0.08), 0 12px 16px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    margin-top: -3px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .contact .submit input:disabled {
    background-color: #cecece;
  }
  .contact .submit input:disabled:hover {
    box-shadow: none !important;
    transform: none !important;
  }
  .contact .success {
    color: green;
  }
  .contact .error {
    color: red;
    margin: 2px 0;
    font-size: 12px;
  }
  .about {
    padding: 15px 15px 0;
  }
  .about h3 {
    font-size: 12px;
    margin: 0 0 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2px;
  }
  .about ul {
    line-height: 1.6;
    letter-spacing: -0.2px;
    margin: 0 0 15px 20px;
  }
  .about ul li {
    margin: 0 0 3px;
  }
  .about hr {
    border: 0 none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin: 15px -15px 20px;
  }
  .print img {
    display: block;
    width: auto;
    max-width: calc(100% - 20px);
    height: auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: calc(100% - 20px);
    max-height: calc(100% - 20px);
    position: absolute;
    margin: 0;
  }
  .social-modal {
    transform: translateX(100%);
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    overflow: hidden;
    z-index: 1000;
    transition: all 0.3s ease;
  }
  .social-modal .go-to-profile {
    position: absolute;
    line-height: 40px;
    font-size: 18px;
    padding: 0 15px;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.3s ease;
    top: 0;
    right: 0;
    color: inherit;
  }
  .social-modal .text {
    line-height: 38px;
    padding: 0 40px;
    font-size: 15px;
    font-weight: 600;
    display: block;
    text-align: center;
  }
  .social-modal-close {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 24px;
    padding: 0 10px;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
  .social-modal-content {
    position: absolute;
    bottom: 0;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% - 40px);
    overflow: hidden;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
  }
  .social-modal-content iframe {
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    height: calc(100% + 70px);
    border: 0 none;
  }
  .social-modal.active {
    transform: translateX(0);
    pointer-events: all;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
  .social-modal.twitter-modal .social-modal-content {
    background: #f6f7f9;
    overflow: auto;
  }
  .social-modal.twitter-modal .social-modal-content iframe {
    pointer-events: none;
  }
  .social-modal.twitter-modal .social-modal-content::-webkit-scrollbar {
    border: 2px solid #f6f7f9;
  }
  .social-modal.twitter-modal .social-modal-content::-webkit-scrollbar-thumb {
    border: 2px solid #f6f7f9;
  }
  .social-modal.instagram-modal .social-modal-content {
    background: #f6f7f9;
    overflow: auto;
    font-size: 0;
    padding: 10px 5px 5px 10px;
  }
  .social-modal.instagram-modal .social-modal-content a {
    width: calc(100% / 3 - 5px);
    display: inline-block;
    height: 0;
    margin: 0 5px 5px 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0 0 calc(100% / 3 - 5px);
    transition: opacity 0.3s ease;
  }
  .social-modal.instagram-modal .social-modal-content::-webkit-scrollbar {
    border: 2px solid #f6f7f9;
  }
  .social-modal.instagram-modal .social-modal-content::-webkit-scrollbar-thumb {
    border: 2px solid #f6f7f9;
  }
  .share-toggle {
    width: 45px;
    line-height: 42px;
    font-size: 16px;
    text-align: center;
    color: rgba(132, 146, 166, 0.8);
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 1px 0 0 #f5f5f5 inset;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  .share-toggle.share-toggle-close {
    display: none;
  }
  .share-modal {
    padding: 6px 8px;
    position: absolute;
    bottom: 0;
    background: white;
    z-index: 90;
    left: 0;
    width: calc(100% - 46px);
    font-size: 0;
    opacity: 0;
    pointer-events: none;
  }
  .share-modal a {
    display: inline-block;
    line-height: 30px;
    width: 86px;
    text-align: center;
    background: #4b5966;
    color: white;
    margin-right: 8px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.12) inset, 0 0 2px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    user-select: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .share-modal a svg.mdi {
    font-family: "Social";
    margin-right: 10px;
  }
  .share-modal a.share-facebook {
    background: #3e5da0 !important;
  }
  .share-modal a.share-twitter {
    background: #64b3ef !important;
  }
}
.imagiro.expanded {
  .unit-outer {
    top: -100%;
  }
  .unit-inner {
    top: 0;
  }
}
.imagiro.no-logo {
  .logo {
    display: none;
  }
  .name {
    display: table;
  }
}
.imagiro.agent {
  .header .name {
    display: table;
    left: 110px;
    width: calc(100% - 110px);
  }
  .header .name p {
    font-size: 13px;
    padding: 0 15px;
    text-align: left;
  }
  .header .logo {
    width: 80px;
    left: 15px;
    margin: 0;
  }
  .header .logo:after {
    content: "";
    height: calc(100% + 20px);
    width: 1px;
    background: rgba(0, 0, 0, 0.03);
    position: absolute;
    top: -10px;
    right: -15px;
  }
}
.imagiro.agent.no-logo {
  .header .logo {
    display: none;
  }
  .header .name {
    left: 0;
    width: 100%;
  }
  .header .name p {
    font-size: 16px;
    padding: 0 30px;
    text-align: center;
  }
}
.imagiro.share-active {
  .share-modal {
    pointer-events: all;
    opacity: 1;
  }
  .share-toggle {
    display: none;
  }
  .share-toggle-close {
    display: block;
  }
}
.imagiro.ticker-items-tally-1 {
  .ticker-item {
    opacity: 0;
  }
  .ticker-item-1 {
    animation: fade-1-1 7s forwards;
    animation-delay: 0.2s;
  }
}
.imagiro.ticker-items-tally-2 {
  .ticker-item {
    opacity: 0;
  }
  .ticker-item-1 {
    animation: fade-2-1 14s infinite;
    animation-delay: 0.2s;
  }
  .ticker-item-2 {
    animation: fade-2-2 14s infinite;
    animation-delay: 0.2s;
  }
}
.imagiro.ticker-items-tally-3 {
  .ticker-item {
    opacity: 0;
  }
  .ticker-item-1 {
    animation: fade-3-1 14s infinite;
    animation-delay: 0.2s;
  }
  .ticker-item-2 {
    animation: fade-3-2 14s infinite;
    animation-delay: 0.2s;
  }
  .ticker-item-3 {
    animation: fade-3-3 14s infinite;
    animation-delay: 0.2s;
  }
}
.imagiro.tabs-tally-3 {
  .content-nav .tab {
    width: calc(100% / 3);
  }
}
.imagiro.tabs-tally-2 {
  .content-nav .tab {
    width: calc(100% / 2);
  }
}
.imagiro.tabs-tally-1 {
  .content-nav {
    display: none;
  }
  .content-wrapper {
    top: 0;
    height: 100%;
  }
}

// No touch styles

body.no-touch {
  .imagiro {
    .expand-button:hover svg.mdi {
      opacity: 1;
      animation: none;
    }
    .content-nav .tab:hover {
      color: rgba(75, 89, 102, 0.8);
    }
    .info .info-block:hover {
      background: #f8f8f8;
      padding-right: 35px;
    }
    .info .info-block:hover svg.guide.mdi {
      opacity: 0.5;
    }
    .info .social-buttons a:hover {
      color: #8492a6;
    }
    .contact .submit input:hover {
      box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.12) inset,
        0 0 2px rgba(0, 0, 0, 0.08), 0 12px 16px rgba(0, 0, 0, 0.08),
        0 16px 32px rgba(0, 0, 0, 0.08), 0 24px 36px rgba(0, 0, 0, 0.08);
      transform: translateY(-1px);
    }
    .share-modal a:hover {
      transform: translateY(-1px);
      box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.12) inset,
        0 0 2px rgba(0, 0, 0, 0.08), 0 12px 16px rgba(0, 0, 0, 0.08);
    }
    .social-modal-close:hover,
    .social-modal .go-to-profile:hover {
      opacity: 1;
    }
    .social-modal.twitter-modal .social-modal-content iframe {
      pointer-events: all;
    }
    .social-modal.instagram-modal .social-modal-content a:hover {
      opacity: 0.75;
    }
  }
  .imagiro:hover {
    .background {
      transform: scale(1.1);
    }
    .expand-button .chevrons:before {
      display: none;
    }
    .expand-button .chevrons:after {
      animation: none;
      transform: rotate(-45deg);
    }
  }
}

/*******************************************************
************       BASE MEDIA QUERIES       ************
*******************************************************/

// Square (300x300)

@media screen and (width: 300px) and (min-height: 300px) {
  .imagiro {
    width: 100%;
    height: 100%;
  }
  .imagiro {
    .header {
      height: 60px;
    }
    .logo {
      height: 40px;
    }
    .background {
      height: calc(100% - 60px);
    }
    .ticker-item {
      padding-bottom: 40px;
    }
    .expand-button .chevrons {
      transform: scale(0.125);
      bottom: -13px;
    }
    .info {
      padding: 10px 10px 52px;
    }
    .info .info-block {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .info .info-block svg.mdi {
      top: 10px;
    }
    .about {
      font-size: 14px;
      padding: 20px 20px 5px;
    }
    .about p {
      margin: 0 0 15px;
    }
    .about h3 {
      font-size: 13px;
      margin-bottom: 15px;
    }
    .about hr {
      margin: 20px -20px 25px;
    }
    .about ul li {
      margin: 0 0 5px;
    }
    .contact {
      padding: 15px;
    }
    .contact .input {
      margin-bottom: 15px;
    }
    .contact .input textarea {
      height: 50px;
    }
    .contact .input:nth-child(1) {
      float: none;
      width: 100%;
      margin-right: 0;
    }
    .contact .input:nth-child(2) {
      float: none;
      width: 100%;
    }
    .contact .input input {
      font-size: 13px;
      padding: 10px;
    }
    .contact .input textarea {
      font-size: 13px;
      padding: 6px 10px;
    }
  }
}

// Half Page (300x600)

@media screen and (width: 300px) and (min-height: 600px) {
  .imagiro {
    width: 100%;
    height: 100%;
  }
  .imagiro {
    .contact .input textarea {
      height: 300px;
    }
  }
}

// Leaderboard (728x90)

@media screen and (width: 728px) and (height: 90px) {
  .imagiro {
    width: 100%;
    height: 100%;
  }
  .imagiro {
    .unit-inner {
      bottom: 0;
      width: 100%;
      left: auto;
      right: 0;
      z-index: 10000;
    }
    .content-nav,
    .share-toggle,
    .social-buttons {
      display: none;
    }
    .content-wrapper {
      top: 0;
      height: 100%;
      padding: 0;
      text-align: center;
      font-size: 0;
    }
    .info .info-block {
      text-align: left;
      display: inline-block;
      width: calc(100% / 3);
      height: 100%;
      box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05);
      padding: 12px 15px 12px 50px !important;
    }
    .info .info-block:first-child {
      box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05), -1px 0 0 rgba(0, 0, 0, 0.05);
    }
    .info .info-block.phone-block,
    .info .info-block.website-block {
      line-height: 35px;
      font-weight: 500;
    }
    .info .info-block.email-block {
      display: none;
    }
    .info .info-block svg.mdi {
      top: 20px;
      left: 15px;
      text-align: center;
    }
    .info .info-block svg.guide.mdi {
      display: none;
    }
  }
}

// Mobile Leaderboard (320x50) / Mobile Banner (300x50)

@media screen and (height: 50px) {
  .imagiro {
    width: 100%;
    height: 100%;
  }
  .imagiro {
    .unit-inner {
      top: 0;
      width: 100%;
      left: auto;
      right: 0;
      z-index: 10000;
    }
    .header {
      width: 100%;
      height: 100%;
      box-shadow: 1px 0 1px rgba(0, 0, 0, 0.05);
    }
    .header-container {
      max-width: 300px;
      position: relative;
      margin: 0 auto;
    }
    .logo {
      position: relative;
      margin: 0 auto;
      left: auto;
      top: 50%;
      transform: translateY(-50%);
      width: calc(100% - 20px);
      height: 30px;
    }
    .background {
      width: 100%;
      left: 0;
      height: 100%;
      z-index: 100;
    }
    .ticker {
      z-index: 100;
      position: absolute;
      top: 0;
      bottom: auto !important;
      left: 0;
      width: 100%;
      height: 100%;
      line-height: 1;
      text-align: left;
      background: rgba(75, 89, 102, 0.3);
    }
    .ticker-item {
      font-size: 16px;
      padding: 0 5px !important;
      line-height: 50px;
      bottom: auto;
      position: absolute;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      letter-spacing: normal;
      text-align: center;
    }
    .ticker-item br {
      content: " ";
    }
    .expand-button {
      display: none;
    }
    .collapse-button,
    .content-nav,
    .share-toggle,
    .social-buttons,
    .info .info-block {
      display: none;
    }
    .content-wrapper {
      top: 0;
      height: 100%;
      padding: 0;
      text-align: center;
      font-size: 0;
    }
    .content {
      top: 0;
      height: 100%;
    }
    .info .info-block.website-block {
      display: block;
      padding: 0;
      opacity: 0;
      height: 100%;
      font-size: 0;
    }
  }
  .imagiro.ticker-items-tally-1 {
    .ticker-item-1 {
      animation: fade-2-1 14s infinite;
    }
    .header {
      opacity: 0;
      animation: fade-2-2 14s infinite;
    }
    .background {
      animation: background-zoom 14s forwards infinite;
    }
  }
  .imagiro.ticker-items-tally-2 {
    .ticker-item-1 {
      animation: fade-3-1 21s infinite;
    }
    .ticker-item-2 {
      animation: fade-3-2 21s infinite;
    }
    .header {
      opacity: 0;
      animation: fade-3-3 21s infinite;
    }
    .background {
      animation: background-zoom 21s forwards infinite;
    }
  }
  .imagiro.ticker-items-tally-3 {
    .ticker-item-1 {
      animation: fade-4-1 28s infinite;
    }
    .ticker-item-2 {
      animation: fade-4-2 28s infinite;
    }
    .ticker-item-3 {
      animation: fade-4-3 28s infinite;
    }
    .header {
      opacity: 0;
      animation: fade-4-4 28s infinite;
    }
    .background {
      animation: background-zoom 28s forwards infinite;
    }
  }
}
// Animations

@keyframes glow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes chevrons {
  0% {
    border-left: 25px solid transparent;
    border-bottom: 25px solid transparent;
    transform: translate(0px, -50px) rotate(-45deg);
  }
  10%,
  90% {
    border-left: 25px solid transparent;
    border-bottom: 25px solid transparent;
  }
  50% {
    border-left: 25px solid white;
    border-bottom: 25px solid white;
    transform: translate(0px, 0px) rotate(-45deg);
  }
  100% {
    border-left: 25px solid transparent;
    border-bottom: 25px solid transparent;
    transform: translate(0px, 50px) rotate(-45deg);
  }
}

@keyframes background-zoom {
  0.00% {
    transform: scale(1);
  }
  90.00% {
    transform: scale(1.4);
  }
  95.00% {
    transform: scale(1);
  }
}

// 1 states | 7 seconds = 14.29% /sec

@keyframes fade-1-1 {
  0.00% {
    opacity: 0;
  }
  14.29% {
    opacity: 1;
  }
  100.00% {
    opacity: 1;
  }
}

@keyframes slide-1-1 {
  0.00% {
    transform: translateX(100%);
  }
  14.29% {
    transform: translateX(0);
  }
  100.00% {
    transform: translateX(0);
  }
}

// 2 states | 14 seconds = 7.14% /sec

@keyframes fade-2-1 {
  0.00% {
    opacity: 0;
  }
  7.14% {
    opacity: 1;
  }
  42.85% {
    opacity: 1;
  }
  50.00% {
    opacity: 0;
  }
}
@keyframes fade-2-2 {
  0.00% {
    opacity: 0;
  }
  50.00% {
    opacity: 0;
  }
  57.14% {
    opacity: 1;
  }
  92.86% {
    opacity: 1;
  }
  100.00% {
    opacity: 0;
  }
}

@keyframes slide-2-1 {
  0.00% {
    transform: translateX(100%);
  }
  7.14% {
    transform: translateX(0);
  }
  42.85% {
    transform: translateX(0);
  }
  50.00% {
    transform: translateX(-100%);
  }
  100.00% {
    transform: translateX(-100%);
  }
}
@keyframes slide-2-2 {
  0.00% {
    transform: translateX(100%);
  }
  50.00% {
    transform: translateX(100%);
  }
  57.14% {
    transform: translateX(0);
  }
  92.86% {
    transform: translateX(0);
  }
  100.00% {
    transform: translateX(-100%);
  }
}

@keyframes cta-invert-2 {
  0.00% {
    filter: none;
    opacity: 1;
  }
  50.00% {
    filter: none;
    opacity: 1;
  }
  57.14% {
    filter: invert(1);
    opacity: 0.15;
  }
  92.86% {
    filter: invert(1);
    opacity: 0.15;
  }
  100.00% {
    filter: none;
    opacity: 1;
  }
}

// 3 states | 21 seconds = 4.76% /sec

@keyframes fade-3-1 {
  0.00% {
    opacity: 0;
  }
  4.76% {
    opacity: 1;
  }
  28.56% {
    opacity: 1;
  }
  33.33% {
    opacity: 0;
  }
}
@keyframes fade-3-2 {
  0.00% {
    opacity: 0;
  }
  33.33% {
    opacity: 0;
  }
  38.09% {
    opacity: 1;
  }
  61.91% {
    opacity: 1;
  }
  66.67% {
    opacity: 0;
  }
}
@keyframes fade-3-3 {
  0.00% {
    opacity: 0;
  }
  66.67% {
    opacity: 0;
  }
  71.43% {
    opacity: 1;
  }
  95.24% {
    opacity: 1;
  }
  100.00% {
    opacity: 0;
  }
}

@keyframes slide-3-1 {
  0.00% {
    transform: translateX(100%);
  }
  4.76% {
    transform: translateX(0);
  }
  28.56% {
    transform: translateX(0);
  }
  33.33% {
    transform: translateX(-100%);
  }
  100.00% {
    transform: translateX(-100%);
  }
}
@keyframes slide-3-2 {
  0.00% {
    transform: translateX(100%);
  }
  33.33% {
    transform: translateX(100%);
  }
  38.09% {
    transform: translateX(0);
  }
  61.91% {
    transform: translateX(0);
  }
  66.67% {
    transform: translateX(-100%);
  }
  100.00% {
    transform: translateX(-100%);
  }
}
@keyframes slide-3-3 {
  0.00% {
    transform: translateX(100%);
  }
  66.67% {
    transform: translateX(100%);
  }
  71.43% {
    transform: translateX(0);
  }
  95.24% {
    transform: translateX(0);
  }
  100.00% {
    transform: translateX(-100%);
  }
}

// 4 ticker items | 28 seconds = 3.57% /sec
@keyframes fade-4-1 {
  0.00% {
    opacity: 0;
  }
  3.57% {
    opacity: 1;
  }
  21.43% {
    opacity: 1;
  }
  25.00% {
    opacity: 0;
  }
}
@keyframes fade-4-2 {
  0.00% {
    opacity: 0;
  }
  25.00% {
    opacity: 0;
  }
  28.57% {
    opacity: 1;
  }
  46.43% {
    opacity: 1;
  }
  50.00% {
    opacity: 0;
  }
}
@keyframes fade-4-3 {
  0.00% {
    opacity: 0;
  }
  50.00% {
    opacity: 0;
  }
  53.57% {
    opacity: 1;
  }
  71.43% {
    opacity: 1;
  }
  75.00% {
    opacity: 0;
  }
}
@keyframes fade-4-4 {
  0.00% {
    opacity: 0;
  }
  75.00% {
    opacity: 0;
  }
  78.57% {
    opacity: 1;
  }
  96.43% {
    opacity: 1;
  }
  100.00% {
    opacity: 0;
  }
}

@keyframes cta-invert-3 {
  0.00% {
    filter: none;
    opacity: 1;
  }
  66.67% {
    filter: none;
    opacity: 1;
  }
  71.43% {
    filter: invert(1);
    opacity: 0.15;
  }
  95.24% {
    filter: invert(1);
    opacity: 0.15;
  }
  100.00% {
    filter: none;
    opacity: 1;
  }
}

/*********************************************
************       LAYOUT 1       ************
*********************************************/

/* 300x600 */
@media screen and (width: 300px) and (min-height: 600px) {
  .imagiro.layout-1 {
    .background {
      transform: none !important;
    }
    .unit-outer {
      height: calc(100% - 230px);
      top: 0;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
      transition: none;
    }
    .unit-inner {
      height: 230px;
      top: auto;
      bottom: 0;
      z-index: 1000;
      background: white;
      transition: none;
    }
    .ticker-item {
      padding-bottom: 25px;
    }
    .expand-button,
    .collapse-button {
      display: none;
    }
    .content {
      top: 0;
      height: 100%;
    }
  }
  .imagiro.layout-1.stretched {
    .unit-inner {
      height: 100%;
    }
  }
}
/* 728x90 */
@media screen and (width: 728px) and (height: 90px) {
  .imagiro.layout-1 {
    .header {
      width: 200px;
      height: 100%;
      box-shadow: 1px 0 1px rgba(0, 0, 0, 0.05);
    }
    .logo {
      position: relative;
      margin: 0 auto;
      left: auto;
      top: 50%;
      transform: translateY(-50%);
      height: 55px;
    }
    .background {
      width: calc(100% - 200px);
      left: 200px;
      height: 100%;
      z-index: 100;
    }
    .ticker {
      z-index: 100;
      position: absolute;
      top: 0;
      bottom: auto !important;
      left: 200px;
      width: calc(100% - 200px);
      height: 100%;
      line-height: 1;
      text-align: left;
      background: rgba(75, 89, 102, 0.3);
    }
    .ticker-item {
      font-size: 26px;
      padding: 0 25px !important;
      line-height: 90px;
      bottom: auto;
      position: absolute;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      letter-spacing: normal;
    }
    .ticker-item br {
      content: " ";
      margin-left: 0;
    }
    .expand-button {
      padding: 0;
      height: 100%;
      text-align: right;
    }
    .expand-button .chevrons {
      bottom: 10px;
      left: auto;
      margin: 0;
      right: -5px;
    }
  }
  .imagiro.layout-1.agent {
    .header .logo {
      left: auto;
      width: 120px;
      height: 36px;
      top: auto;
      transform: none;
      margin: 5px auto;
    }
    .header .logo:after {
      display: none;
    }
    .header .name {
      top: 45px;
      left: 0;
      width: 100%;
      height: calc(100% - 45px);
      text-align: center;
      border-top: 1px solid rgba(0, 0, 0, 0.03);
    }
    .header .name p {
      text-align: center;
    }
  }
  .imagiro.layout-1.agent.no-logo {
    .header .name {
      top: 0;
      height: 100%;
      border: 0 none;
    }
  }
}

/**********************************************
************       LAYOUT 2       *************
**********************************************/

/* Overall */
@media screen and (min-height: 51px) {
  .imagiro.layout-2,
  .imagiro.layout-2B,
  .imagiro.layout-2C {
    .header {
      width: 100%;
      height: 100%;
      box-shadow: 1px 0 1px rgba(0, 0, 0, 0.05);
    }
    .header-container {
      max-width: 300px;
      position: relative;
      margin: 0 auto;
    }
    .header .name p {
      font-size: 24px;
    }
    .logo {
      position: relative;
      margin: 0 auto;
      left: auto;
      top: 50%;
      transform: translateY(-50%);
      width: calc(100% - 20px);
      width: 200px;
      height: 60px;
    }
    .background {
      width: 100%;
      left: 0;
      height: 100%;
      z-index: 100;
    }
    .ticker {
      z-index: 100;
      left: 0;
      width: 100%;
      height: 100%;
      position: relative;
      text-align: center;
    }
    .ticker-item {
      padding-bottom: 45px;
      font-weight: 600;
      font-size: 30px;
      letter-spacing: -0.5px;
    }
    .expand-button .chevrons {
      bottom: -10px;
      margin-left: -46px;
      transform: scale(0.125);
    }
  }
  .imagiro.layout-2.ticker-items-tally-1,
  .imagiro.layout-2B.ticker-items-tally-1,
  .imagiro.layout-2C.ticker-items-tally-1 {
    .ticker-item-1 {
      animation: slide-2-1 14s infinite;
      opacity: 1;
    }
    .header {
      opacity: 0;
      animation: fade-2-2 14s infinite;
    }
    .background {
      animation: background-zoom 14s forwards infinite;
    }
    .chevrons {
      animation: cta-invert-2 14s infinite;
    }
  }
  .imagiro.layout-2.ticker-items-tally-2,
  .imagiro.layout-2B.ticker-items-tally-2,
  .imagiro.layout-2C.ticker-items-tally-2 {
    .ticker-item-1 {
      animation: slide-3-1 21s infinite;
      opacity: 1;
    }
    .ticker-item-2 {
      animation: slide-3-2 21s infinite;
      opacity: 1;
    }
    .header {
      opacity: 0;
      animation: fade-3-3 21s infinite;
    }
    .background {
      animation: background-zoom 21s forwards infinite;
    }
    .chevrons {
      animation: cta-invert-3 21s infinite;
    }
  }
  .imagiro.layout-2.agent,
  .imagiro.layout-2B.agent,
  .imagiro.layout-2C.agent {
    .header-container {
      height: auto;
      top: 50%;
      transform: translateY(-50%);
    }
    .header .logo {
      top: auto;
      left: auto;
      width: 200px;
      height: 60px;
      margin: 0 auto 10px;
      transform: none;
      animation: none;
    }
    .header .logo:after {
      display: none;
    }
    .header .name {
      display: block;
      width: 100%;
      left: auto;
      position: relative;
      height: auto;
      top: auto;
      padding: 10px 10px 0;
    }
    .header .name-interior {
      display: block;
    }
    .header .name p {
      font-size: 20px;
      text-align: center;
    }
  }
}
/* 300x300 */
@media screen and (width: 300px) and (min-height: 300px) {
  .imagiro.layout-2,
  .imagiro.layout-2B,
  .imagiro.layout-2C {
    .ticker-item {
      padding-bottom: 50px;
    }
  }
}
/* 300x600 */
@media screen and (width: 300px) and (min-height: 600px) {
  .imagiro.layout-2,
  .imagiro.layout-2B,
  .imagiro.layout-2C {
    .ticker-item {
      font-size: 40px;
      line-height: 1;
      letter-spacing: -1.5px;
      padding-bottom: 70px;
    }
  }
}
/* 728x90 */
@media screen and (width: 728px) and (height: 90px) {
  .imagiro.layout-2,
  .imagiro.layout-2B,
  .imagiro.layout-2C {
    .ticker {
      background: rgba(75, 89, 102, 0.3);
    }
    .ticker-item {
      padding: 30px 50px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .ticker-item br {
      content: " ";
      margin-left: 0;
    }
    .expand-button {
      padding: 0;
      height: 100%;
      text-align: right;
    }
    .expand-button .chevrons {
      bottom: 10px;
      left: auto;
      margin: 0;
      right: -5px;
    }
  }
  .imagiro.layout-2.agent,
  .imagiro.layout-2B.agent,
  .imagiro.layout-2C.agent {
    .header .header-container {
      max-width: 600px;
      text-align: center;
    }
    .header .logo {
      display: inline-block;
      background-position: right center;
      margin: 0;
      width: calc(50% - 20px);
      right: calc(50% + 20px);
      top: 0;
      position: absolute;
      max-width: 200px;
      height: 100%;
    }
    .header .logo:before {
      content: "";
      top: -10px;
      right: -20px;
      width: 1px;
      height: calc(100% + 20px);
      background: rgba(0, 0, 0, 0.05);
      position: absolute;
    }
    .header .name {
      padding: 0;
    }
    .header .name p {
      text-align: left;
      padding: 0 0 0 calc(50% + 20px);
    }
  }
  .imagiro.layout-2.agent.no-logo,
  .imagiro.layout-2B.agent.no-logo,
  .imagiro.layout-2C.agent.no-logo {
    .header .name p {
      padding: 0;
      text-align: center;
    }
  }
}
/***********************************************
************       LAYOUT 2B       *************
***********************************************/

/* Overall */
@media screen and (min-height: 51px) {
  .imagiro.layout-2B {
    .ticker {
      mix-blend-mode: luminosity;
    }
    .ticker-item {
      opacity: 1;
    }
    .ticker-item span {
      color: #fefefe;
      background: #4b5966;
      text-shadow: 0 0 0 transparent;
      box-shadow: 8px 0 0 #4b5966, -8px 0 0 #4b5966;
      display: inline;
      font-size: 29px;
      line-height: 1.25;
      padding: 3px 0;
      font-weight: 600;
    }
  }
}
/* 300x600 */
@media screen and (width: 300px) and (min-height: 600px) {
  .imagiro.layout-2B {
    .ticker-item span {
      font-size: inherit;
    }
  }
}
/* 728x90 */
@media screen and (width: 728px) and (height: 90px) {
  .imagiro.layout-2B {
    .ticker-item {
      padding: 26px 50px;
    }
    .ticker-item span {
      font-size: 30px;
      padding: 5px 0;
      box-shadow: 15px 0 0 #4b5966, -15px 0 0 #4b5966;
    }
  }
}

/***********************************************
************       LAYOUT 2C       *************
***********************************************/

/* Overall */
@media screen and (min-height: 51px) {
  .imagiro.layout-2C {
    .ticker-item {
      opacity: 1;
    }
    .ticker-item span {
      color: #0e223e;
      background: #fefefe;
      text-shadow: 0 0 0 transparent;
      box-shadow: 8px 0 0 #fefefe, -8px 0 0 #fefefe;
      display: inline;
      font-size: 29px;
      line-height: 1.25;
      padding: 3px 0;
      font-weight: 600;
    }
  }
}
/* 300x600 */
@media screen and (width: 300px) and (min-height: 600px) {
  .imagiro.layout-2C {
    .ticker-item span {
      font-size: inherit;
    }
  }
}
/* 728x90 */
@media screen and (width: 728px) and (height: 90px) {
  .imagiro.layout-2C {
    .ticker-item {
      padding: 26px 50px;
    }
    .ticker-item span {
      font-size: 30px;
      padding: 5px 0;
      box-shadow: 15px 0 0 #fefefe, -15px 0 0 #fefefe;
    }
  }
}

/*********************************************
************       LAYOUT 3      *************
*********************************************/

/* Overall */
@media screen and (min-height: 51px) {
  .imagiro.layout-3 {
    .header {
      width: 180px;
      top: 12px;
      left: 0;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      border-radius: 0 1px 1px 0;
      height: 50px;
    }
    .background {
      height: 100%;
    }
    .ticker {
      mix-blend-mode: luminosity;
      background-repeat: no-repeat;
    }
    .ticker-item {
      padding: 0 18px 40px;
      text-align: left;
    }
    .ticker-item span {
      color: #fefefe;
      background: #4b5966;
      text-shadow: 0 0 0 transparent;
      box-shadow: 18px 0 0 #4b5966, -18px 0 0 #4b5966;
      display: inline;
      font-size: 29px;
      line-height: 1.25;
      padding: 3px 0;
      font-weight: 600;
    }
  }
  .imagiro.layout-3.ticker-items-tally-1 {
    .ticker-item-1 {
      animation: slide-1-1 7s forwards;
      opacity: 1;
    }
  }
  .imagiro.layout-3.ticker-items-tally-2 {
    .ticker-item-1 {
      animation: slide-2-1 14s infinite;
      opacity: 1;
    }
    .ticker-item-2 {
      animation: slide-2-2 14s infinite;
      opacity: 1;
    }
  }
  .imagiro.layout-3.no-logo {
    .header {
      width: auto;
      max-width: calc(100% - 20px);
      height: auto;
      mix-blend-mode: luminosity;
    }
    .header .name {
      position: relative;
    }
    .header .name p {
      padding: 12px 18px;
      font-weight: 600;
      color: #333333;
    }
  }
  .imagiro.layout-3.agent {
    .header {
      width: calc(100% - 20px);
    }
    .header .name p {
      font-size: 11px;
    }
    .logo {
      left: 18px;
    }
  }
  .imagiro.layout-3.agent.no-logo {
    .header .name p {
      font-size: 18px;
    }
  }
}
/* 300x300 */
@media screen and (width: 300px) and (min-height: 300px) {
  .imagiro.layout-3 {
    .header {
      top: 15px;
      width: 190px;
      height: 60px;
    }
    .logo {
      height: 40px;
    }
    .ticker-item {
      padding-bottom: 45px;
    }
    .expand-button .chevrons {
      bottom: -10px;
    }
  }
}
/* 300x600 */
@media screen and (width: 300px) and (min-height: 600px) {
  .imagiro.layout-3 {
    .header {
      top: 20px;
    }
    .background {
      transform: none !important;
    }
    .unit-outer {
      height: calc(100% - 230px);
      top: 0;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
      transition: none;
    }
    .unit-inner {
      height: 230px;
      top: auto;
      bottom: 0;
      z-index: 1000;
      background: white;
      transition: none;
    }
    .ticker-item {
      padding-bottom: 25px;
    }
    .expand-button,
    .collapse-button {
      display: none;
    }
    .content {
      top: 0;
      height: 100%;
    }
  }
  .imagiro.layout-3.stretched {
    .unit-inner {
      height: 100%;
    }
  }
}
/* 728x90 */
@media screen and (width: 728px) and (height: 90px) {
  .imagiro.layout-3 {
    .header {
      height: 60px;
      top: 50%;
      transform: translateY(-50%);
    }
    .logo {
      height: 40px;
    }
    .ticker {
      z-index: 100;
      position: absolute;
      top: 0;
      bottom: auto !important;
      left: 185px;
      width: calc(100% - 185px);
      height: 100%;
      line-height: 1;
      text-align: left;
    }
    .ticker-item {
      font-size: 26px;
      padding: 0 25px !important;
      line-height: 90px;
      bottom: auto;
      position: absolute;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      letter-spacing: normal;
    }
    .ticker-item span {
      font-size: 25px;
      box-shadow: 10px 0 0 #4b5966, -10px 0 0 #4b5966;
    }
    .ticker-item br {
      content: " ";
      margin-left: 0;
    }
    .expand-button {
      padding: 0;
      height: 100%;
      text-align: right;
    }
    .expand-button .chevrons {
      bottom: 10px;
      left: auto;
      margin: 0;
      right: -5px;
    }
  }
  .imagiro.layout-3.no-logo {
    .header {
      width: 180px;
      height: 60px;
    }
    .header .name p {
      padding: 0 20px;
    }
  }
  .imagiro.layout-3.agent {
    .header {
      width: 180px;
      height: 100%;
      box-shadow: 1px 0 1px rgba(0, 0, 0, 0.05);
    }
    .logo {
      left: auto;
      width: 120px;
      height: 36px;
      top: auto;
      transform: none;
      margin: 5px auto;
      position: relative;
    }
    .logo:after {
      display: none;
    }
    .header .name {
      top: 45px;
      left: 0;
      width: 100%;
      height: calc(100% - 45px);
      text-align: center;
      border-top: 1px solid rgba(0, 0, 0, 0.03);
    }
    .header .name p {
      text-align: center;
    }
  }
  .imagiro.layout-3.agent.no-logo {
    .header {
      height: 40px;
    }
    .header .name {
      top: 50%;
      transform: translateY(-50%);
      border: 0 none;
    }
    .header .name p {
      font-size: 12px;
      padding: 0 15px;
    }
  }
}

/*********************************************
************       LAYOUT 4       ************
*********************************************/

/* Overall */
@media screen and (min-height: 51px) {
  .imagiro.layout-4 {
    .header {
      background: transparent;
    }
    .header:before {
      content: "";
      background: white;
      width: 328px;
      height: 300px;
      position: absolute;
      bottom: -8px;
      left: -45px;
      transform: rotate(-12deg);
    }
    .background {
      height: 100%;
    }
    .logo {
      top: 15px;
      left: 15px;
      margin: 0;
      background-position: center left;
    }
  }
}
